.moviesContainer {
  background-color: #1c1c1c;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  color: white;
  min-height: 93vh;
}
.moviesContainer__noResults {
  align-self: center;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .moviesContainer {
    column-gap: 3.5rem;
    row-gap: 3rem;
  }
}
